@page "/listofgroup"
@inject IGroupRepository repository
@inject IJSRuntime jsRuntime

<h3>List of group</h3>

<div>
    <AuthorizeView Roles="@StaticDetails.Role_Admin">
        <Authorized>
            <a href="group/add" class="btn btn-primary">
                Add new group
            </a>
        </Authorized>
    </AuthorizeView>
</div>

<div>
    <GenericList List="Groups">
        <WholeListTemplate>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>
                            Group name
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Groups)
                    {
                        <tr>
                            <td>
                                <h5>
                                    @item.Id
                                </h5>
                            </td>
                            <td>
                                <img src="@item.GroupImage" style="width:50px;height:50px;" />
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <a href="groupdetails/@item.Id" class="btn btn-warning">
                                    Details
                                </a>
                                <AuthorizeView Roles="@StaticDetails.Role_Admin">
                                    <Authorized>
                                        <a href="group/edit/@item.Id" class="btn btn-warning">
                                            Edit
                                        </a>
                                        <button class="btn btn-danger" @onclick="(() => Delete(item.Id))">
                                            Delete
                                        </button>
                                    </Authorized>
                                </AuthorizeView>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </WholeListTemplate>
    </GenericList>

    <Pagination CurrentPage="@pagination.Page"
                TotalAmountPages="totalPages"
                SelectedPage="SelectedPages" />
</div>

@code {

    List<Group> Groups;
    PaginationDTO pagination = new PaginationDTO();

    private int totalPages;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Load();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task Delete(int id)
    {
        var confirm = await jsRuntime.Confirm($"Confirm delete");

        if (confirm)
        {
            try
            {
                await repository.DeleteAsync(id);
                var response = await repository.GetAll(pagination);
                Groups = response.Response;
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
    }

    private async Task Load()
    {
        var response = await repository.GetAll(pagination);
        Groups = response.Response;

        totalPages = response.TotalAmountPages;
    }

    private async Task SelectedPages(int page)
    {
        pagination.Page = page;

        await Load();
    }
}